.header-div {
    padding: 20px;
    background: linear-gradient(to right, #6B2584, #8825AB, #A626D3);
    height: 80px;
    display: flex;
    align-items: center;
    box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

.header-title {
    color: white;
    font-size: 24px;
    font-weight: 500;
}

.header-photo {
    height: 100%;
    margin-right: 8px;
}
